<!DOCTYPE html>
<html>
<head>
	<title>Python Flask Simple Shopping Cart</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<style>
	table, th, td, tr {
	  border: 1px solid grey;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 15px;
	}
	h1 {
	  font-size: 2.5em; /* 40px/16=2.5em */
	}
	h2 {
	  font-size: 1.875em; /* 30px/16=1.875em */
	 }
	</style>
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

<h1>[GCP Region: {{ gcp_region }}]</h1>

	<div id="shopping-cart">
		<div class="txt-heading"><h2>Shopping Cart</h2></div>		
		{% if 'cart_item' in session %}
			<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">Item</th>
					<th style="text-align:left;">Name</th>
					<th style="text-align:left;" width="10%">Code</th>
					<th style="text-align:right;" width="5%">Quantity</th>
					<th style="text-align:right;" width="10%">Unit Price</th>
					<th style="text-align:right;" width="10%">Price</th>
					<th style="text-align:center;" width="10%">Remove</th>
				</tr>
				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}					
					<tr>
						<td align="center"><img src="/static/images/{{ session['cart_item'][key]['image'] }}" class="cart-item-image" /  width="100" height="100"></td>
						<td style="text-align:middle;">{{ session['cart_item'][key]['name'] }}</td>
						<td>{{ session['cart_item'][key]['code'] }}</td>
						<td style="text-align:right;">{{ quantity }}</td>
						<td  style="text-align:right;">{{ price | currencyFormat }}</td>
						<td  style="text-align:right;">{{ item_price | currencyFormat }}</td>
						<td style="text-align:center;">
							<a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="btnRemoveAction">
								<img src="/static/images/icon-delete.jpg" alt="Remove Item" / width="100" height="25">
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td colspan="2" align="right">Total:</td>
					<td align="right">{{ session['sub_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>{{ session['sub_total_price'] | currencyFormat }}</strong></td>
					<td align="center"><a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a></td>
				</tr>
			</tbody>
			</table>
		{% else: %}
			<div class="no-records">Your Cart is Empty</div>
		{% endif %}
	</div>
<br>
	<div id="product-grid">
	<div class="txt-heading"><h2>Product Catalog</h2></div>
		<table class="product_table" style="width:100%">
		{% for product_row in products | batch(4, '&nbsp;') %}
		<tr>
			{% for product in product_row %}
			<td class="c1" align="center">
			<form method="post" action="/add">
				<div><img src="/static/images/{{ product.image }}"  width="100" height="100"></div>
				<div>{{ product.name }}</div>
				<div>{{ product.price | currencyFormat }}</div>
				<div class="cart-action">
					<input type="hidden" name="code" value="{{ product.code }}"/>
					<input type="text" class="product-quantity" name="quantity" value="1" size="2" />
					<input type="submit" value="Add to Cart" class="btnAddAction" />
				</div>
			</form>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table>
	</div>

</body>
</html>
